<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="../asset/css/signup.css">
</head>
<body>
    <fieldset>
        <legend>Sign Up</legend>
        <h2>Sign Up</h2>
        <form id="signupForm" onsubmit="return false;">
            <table>
                <tr>
                    <td>Username:</td>
                    <td><input type="text" id="username" name="username" onkeyup="validateUsername()" /></td>
                    <td><p id="usernameMessage"></p></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" id="password" name="password" onkeyup="validatePassword()" /></td>
                    <td><p id="passwordMessage"></p></td>
                </tr>
                <tr>
                    <td>Confirm Password:</td>
                    <td><input type="password" id="confirmPassword" name="confirm_password" onkeyup="validateConfirmPassword()" /></td>
                    <td><p id="confirmPasswordMessage"></p></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="email" id="email" name="email" onkeyup="validateEmail()" /></td>
                    <td><p id="emailMessage"></p></td>
                </tr>
                <tr>
                    <td>Account Type:</td>
                    <td>
                        <select name="accountType" id="accountType">
                            <option value=""></option>
                            <option value="user">User</option>
                        </select>
                    </td>
                    <td><p id="accountTypeMessage"></p></td>
                </tr>
                <tr>
                    <td colspan="3">
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td>Security Question:</td>
                    <td><input type="text" id="securityQuestion" name="question" onkeyup="validateQuestion()" /></td>
                    <td><p id="securityQuestionMessage"></p></td>
                </tr>
                <tr>
                    <td>Security Answer:</td>
                    <td><input type="text" id="securityAnswer" name="answer" onkeyup="validateAnswer()" /></td>
                    <td><p id="securityAnswerMessage"></p></td>
                </tr>
                <tr>
                    <td colspan="3" align="center">
                        <br><input type="button" name="submit" value="Submit" onclick="ajaxSignup()" />
                    </td>
                </tr>
            </table>
        </form>
        <a href="login.html">Login</a>
    </fieldset>
    <script src="../asset/js/signup.js"></script>
</body>
</html>
